@import url("https://fonts.googleapis.com/css2?family=Fira+Code&display=swap");

.divlinks {
  display: flex;
  gap: 2rem;
  margin-right: 10rem;
  align-items: center;
}

.link {
  text-decoration: none;
  font-size: 24px;
  font-family: var(--font-titulo);
  cursor: pointer;
}
